.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: white;
}

.custom-table th, 
.custom-table td {
  padding: 8px 12px;
  border: 1px solid #b4b4b4;
  white-space: nowrap;
}

.table-row:hover {
  position: relative;
  outline: 1px solid #00a6ff80;
  outline-offset: -1px;
  box-shadow: 0 0 0 3px #00a6ff20;
  z-index: 1;
}

.table-cell {
  vertical-align: middle;
}
