/* * {                                                                                                                                                                
  border: 1px solid red !important;                                                                                                                                
}  */

/* .task-list-container {
  border: 1px solid #b4b4b4;
  padding: 20px;
  background: white;
} */

/* .MuiPaper-root {
  box-shadow: none !important;
} */

/* .task-table {                                                                                                                         
  width: 100%;                                                                                                                        
  margin: 20px 0;                                                                                                                     
  border-collapse: collapse;
  background: white;                                                                                                           
}                                                                                                                                      */

/* .task-table th, .task-table td {
  padding: 8px 12px;
  border: 1px solid #b4b4b4;
  white-space: nowrap;
} */

/* .task-table th:nth-child(4), .task-table td:nth-child(4) {
  width: 100%;
} */

/* .overdue {
  background-color: #ffe6e6;
} */

/* .task-table td:first-child {
  cursor: pointer;
} */

.task-table .name-cell {                                                                                                              
  transition: all 0.2s ease;                                                                                                          
  cursor: pointer;                                                                                                                                                                                                              
  padding: 8px;                                                                                                                       
}                                                                                                                                   
                                                                                                                                      
.task-table .name-cell.hovered,
.task-table .name-input:focus,
.add-task-button:hover {
  border: 1px solid #00a6ff80;
  box-shadow: 0 0 3px 3px #00a6ff20;
}

/* .task-table .task-row:hover {                                                                                                                                         
  position: relative;                                                                                                                                                 
  outline: 1px solid #00a6ff80;                                                                                                                                         
  outline-offset: -1px;                                                                                                         
  box-shadow: 0 0 0 3px #00a6ff20;                                                                                                                                    
  z-index: 1;                                                                                                                           
}  */

.task-table .name-cell.editing {                                                                                                      
  padding: 4px;                                                                                                                       
}                                                                                                                                     
                                                                                                                                      
.task-table .name-input {                                                                                                             
  width: 100%;                                                                     
  padding: 4px;                                                                                                                 
  border-radius: 0px;                                                                                                                 
  font-size: inherit;                                                                                                                 
  font-family: inherit;                                                                                                               
  box-sizing: border-box;
  margin: 0;
}

.add-task-button {
  background-color: #ffffff;
  padding: 12px 24px;
  color: #000000;
  border: 1px solid #b4b4b4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  flex: 1;
}
