/* * {                                                                                                                                                                
  border: 1px solid red !important;                                                                                                                                
}  */

/* .task-list-container {
  border: 1px solid #b4b4b4;
  padding: 20px;
  background: white;
} */

/* .MuiPaper-root {
  box-shadow: none !important;
} */

/* .task-table {                                                                                                                         
  width: 100%;                                                                                                                        
  margin: 20px 0;                                                                                                                     
  border-collapse: collapse;
  background: white;                                                                                                           
}                                                                                                                                      */

/* .task-table th, .task-table td {
  padding: 8px 12px;
  border: 1px solid #b4b4b4;
  white-space: nowrap;
} */

/* .task-table th:nth-child(4), .task-table td:nth-child(4) {
  width: 100%;
} */

/* .overdue {
  background-color: #ffe6e6;
} */

  box-sizing: border-box;
  margin: 0;
}

.add-task-button {
  background-color: #ffffff;
  padding: 12px 24px;
  color: #000000;
  border: 1px solid #b4b4b4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  flex: 1;
}
